---
HeaderFilterRegex: './.*'
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-*,
  -modernize-*,
  -readability-identifier-naming,
  -readability-identifier-length,
  -google-*,
  -llvm-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers

WarningsAsErrors: ''
FormatStyle: file
CheckOptions: []
